<h1>Stores edit form</h1>

<%= form_with(model: @store, local: true) do |f| %>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :address %><br/>
    <%= f.text_area :address %>
  </p>

  <p>
    <%= f.submit "Edit store" %>
  </p>
<% end %>