<h1><%= @store.name %> - Reports here</h1>
<h2><%= @working_days %> Working days </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Employee id</th>
      <th scope="col">Employee name</th>
      <th scope="col">Absences</th>
      <th scope="col">Absences Porcentage</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @store_employees.each do |employee| %>
        <% assistance = Attendance.where(employee_id: employee.id).where.not(check_out: nil).length %>
        <% absences = @working_days - assistance %>
        <% absences_percentage = (absences * 100) / @working_days %>
        <th scope="row"><%= employee.id %></th>
        <th scope="row"><%= "#{employee.first_name} #{employee.last_name}" %></th>
        <th scope="row" class='center'><%= "#{ absences }" %></th>
        <th scope="row"><%= "#{ absences_percentage }%" %></th>
    </tr>
    <% end %>
  </tbody>
</table>
