<h1><%= @store.name %> - Reports here</h1>
<h2><%= @working_days %> Working days </h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Employee id</th>
      <th scope="col">Days work</th>
      <th scope="col"> Working days</th>
      <th scope="col">Days Attendaces</th>
      <th scope="col"> % </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @distinct.each do |attendance| %>
        <th scope="row"><%= attendance.employee_id %></th>
        <td><%=  @absences %></td>
        <td><%= @working_days %></td>
        <td><%= '0' %></td>
        <td><%= '100%' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
