<h1><%= @store.name %> - Absence by month</h1>


<%= form_with url: store_reports_abs_by_month_date_path do |f| %>
  <h3>Select date</h3>
  <p>
    <%= f.month_field :month %>
  </p>

  <p>
    <%= f.submit "Generate report", class: 'btn btn-success my-3'%>
  </p>

  <p>
    <td><%= link_to 'Cancel and return to reports index', store_reports_path, class: 'btn btn-primary' %></td>
  </p>
<% end %>
