<h1 class="my-2">Employee Index</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Position</th>
      <th scope="col">Private number</th>
      <th scope="col">Working</th>
      <th scope="col">Store Id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @employees.each do |employee| %>
        <th scope="row"><%= employee.id %></th>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.position %></td>
        <td><%= employee.private_number %></td>
        <td><%= employee.working %></td>
        <td><%= employee.store_id %></td>
      </tr>
      <% end %>
  </tbody>
</table>
