<h1>Employees show employees</h1>

<p>First name: <%= @employee.first_name %></p>
<p>Last name: <%= @employee.last_name %></p>
<p>Email: <%= @employee.email %></p>
<p>Position: <%= @employee.position %></p>
<p>Private number: <%= @employee.private_number %></p>
<p>Working: <%= @employee.working %></p>
<p>Store Id: <%= @employee.store_id %></p>