<h1>Attendance number: <%=@attendance.id %></h1>

<p>Employee ID: <%= @attendance.employee_id %></p>
<p>Check-in: <%= @attendance.check_in %></p>
<p>Check-out: <%= @attendance.check_out %></p>
<p>Store ID: <%= @attendance.store_id %></p>
