<!DOCTYPE html>
<html>
  <head>
    <title>TimeChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid custom_margin">
        <a href="/"><%= image_tag("foo-corp_logo_white.png", size: "90x84", alt: "Edit Entry") %></a>
        <h1 class="nav_h1">Time checker</h1>
        <button type="button" class="btn btn-success">Admin</button>
      </div>
    </nav>
    <%= yield %>
    <footer class="application_footer">
      <p><span><%= image_tag("bright_coders_logo", size: "25x20", alt: "Edit Entry") %></span> BrightCoders - Reloj Checador ©️ 2022 </p>
    </footer>
  </body>
</html>
